# Node modules
node_modules/

# Environment variables
.env

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS-specific files
.DS_Store
Thumbs.db

# Runtime data
pids/
*.pid
*.seed

# Uploaded files (optional - if you're storing user uploads locally)
public/uploads/

# IDE and editor folders/files
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Build output (if any)
dist/
build/
